In [1]:
import pandas as pd

In [4]:
df_就业切片 = pd.read_csv ("就业切片.tsv", encoding = "utf8", sep="\t")
df_就业切片

,Unnamed: 0,指标,地区,年,数据,行业,行业指标
0,0,农林牧渔业城镇单位就业人员,北京市,2018,NaN,农林牧渔业,人员
1,1,农林牧渔业城镇单位就业人员,北京市,2017,3.4116,农林牧渔业,人员
2,2,农林牧渔业城镇单位就业人员,北京市,2016,3.6867,农林牧渔业,人员
3,3,农林牧渔业城镇单位就业人员,北京市,2015,3.8949,农林牧渔业,人员
4,4,农林牧渔业城镇单位就业人员,北京市,2014,3.2331,农林牧渔业,人员
...,...,...,...,...,...,...,...
11775,11775,公共管理和社会组织城镇单位就业人员平均工资,新疆维吾尔自治区,2013,46636.0000,公共管理和社会组织,人员平均工资
11776,11776,公共管理和社会组织城镇单位就业人员平均工资,新疆维吾尔自治区,2012,45071.0000,公共管理和社会组织,人员平均工资
11777,11777,公共管理和社会组织城镇单位就业人员平均工资,新疆维吾尔自治区,2011,39862.0000,公共管理和社会组织,人员平均工资
11778,11778,公共管理和社会组织城镇单位就业人员平均工资,新疆维吾尔自治区,2010,35950.0000,公共管理和社会组织,人员平均工资
11779,11779,公共管理和社会组织城镇单位就业人员平均工资,新疆维吾尔自治区,2009,31217.0000,公共管理和社会组织,人员平均工资

In [7]:
人员平均工资 = df_就业切片.query("行业指标=='人员平均工资'")

In [8]:
人员平均工资.groupby(['行业','地区']).agg({"数据":["min","mean","max"]})

                         数据
                        min          mean       max
行业          地区
交通运输、仓储和邮政业 上海市     49847.0  81817.888889  116763.0
            云南省     31714.0  54985.111111   80853.0
            内蒙古自治区  34578.0  55693.333333   74613.0
            北京市     46087.0  71454.222222   97567.0
            吉林省     26539.0  48073.888889   67910.0
...                     ...           ...       ...
金融业         辽宁省     45038.0  70013.222222   85433.0
            重庆市     49871.0  95005.666667  126739.0
            陕西省     46122.0  66379.888889   86024.0
            青海省     37456.0  67431.111111   98911.0
            黑龙江省    37056.0  55194.888889   66790.0

[589 rows x 3 columns]

In [11]:
排序 = 人员平均工资.sum(axis=1).sort_values(ascending=False).index

Int64Index([8681, 8683, 8761, 8682, 8762, 8684, 7831, 8763, 8685, 7832,
            ...
            5980, 5970, 5960, 5950, 5940, 5930, 5920, 5910, 5900, 5890],
           dtype='int64', length=5890)

In [9]:
人员平均工资.groupby(['地区']).agg({"数据":["min","mean","max"]})

               数据
              min          mean       max
地区
上海市       29564.0  95373.456140  247568.0
云南省       14853.0  44699.356725  130774.0
内蒙古自治区    15017.0  47498.690058   85135.0
北京市       25006.0  89086.046784  253637.0
吉林省       13636.0  40642.450292   87154.0
四川省       17748.0  49618.280702  101514.0
天津市       20992.0  73773.017544  151778.0
宁夏回族自治区   15529.0  49129.701754  103768.0
安徽省       13437.0  45770.783626   98235.0
山东省       19568.0  50366.672515   94704.0
山西省       13455.0  40518.602339   80556.0
广东省       14469.0  63142.736842  149936.0
广西壮族自治区   15397.0  43223.590643   96818.0
新疆维吾尔自治区  16022.0  50234.625731  105881.0
江苏省       17904.0  61104.783626  143002.0
江西省       15049.0  42360.959064   84304.0
河北省       11330.0  42770.233918  109196.0
河南省       15718.0  40797.461988  103314.0
浙江省       22456.0  66680.111111  165532.0
海南省       10855.0  47224.847953  124017.0
湖北省       15777.0  45400.081871  101551.0
湖南省       14519.0  43279.467836   99320.0
甘肃省       15163.0  40974.327485   85197.0
福建省       15790.0  52346.286550  109757.0
西藏自治区     13522.0  60094.643275  186085.0
贵州省       16895.0  47309.122807  141959.0
辽宁省        8832.0  45122.994152   91990.0
重庆市       17129.0  52280.444444  126739.0
陕西省       16338.0  46612.181287  130891.0
青海省       16825.0  49264.678363  100823.0
黑龙江省      11079.0  42505.538012   73978.0

In [10]:
人员平均工资.groupby(['行业']).agg({"数据":["min","mean","max"]})

                      数据
                     min          mean       max
行业
交通运输、仓储和邮政业      25098.0  56241.240143  116763.0
住宿和餐饮业           13455.0  31198.731183   61095.0
信息传输、计算机服务和软件业   22186.0  72507.896057  212063.0
公共管理和社会组织        25275.0  55019.594982  128855.0
农、林、牧、渔业          8832.0  30661.906810   74975.0
制造业              21508.0  45198.247312  106835.0
卫生、社会保障和社会福利业    22302.0  59073.053763  169191.0
居民服务和其他服务业       16022.0  35929.476703   67013.0
建筑业              16423.0  40809.896057   99718.0
房地产业             15938.0  45288.530466  120379.0
批发和零售业           16073.0  44120.035842  139627.0
教育业              26175.0  57414.487455  143215.0
文化、体育和娱乐业        22377.0  54176.698925  150810.0
水利、环境和公共设施管理业    15831.0  36995.433692   95341.0
电力、燃气及水的生产和供应业   29419.0  67744.182796  174252.0
科学研究、技术服务和地质勘查业  26211.0  66216.186380  176383.0
租赁和商务服务业         16691.0  43966.784946  156621.0
采矿业              22732.0  56747.756272  144454.0
金融业              30627.0  86977.516129  253637.0